<div id="section-5" class="section-odd">
    <div class="section-title-container">
        <h2 class="section-title">Gifts</h2>
        <span class="hearts"></span>
    </div>
    <div class="small-12 large-6 large-centered columns wrapper">
        <ul class="small-block-grid-1 large-block-grid-2 block-grid">
            <li>
                <a href="#" class="block-logo">
                    <img src="images/logo-1.png" alt="Logo" />
                </a>
            </li>
            <li>
                <a href="#" class="block-logo">
                    <img src="images/logo-2.png" alt="Logo" />
                </a>
            </li>
            <li>
                <a href="#" class="block-logo">
                    <img src="images/logo-3.png" alt="Logo" />
                </a>
            </li>
            <li>
                <a href="#" class="block-logo">
                    <img src="images/logo-4.png" alt="Logo" />
                </a>
            </li>
        </ul>
        <p class="content-block">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
        </p><!-- END .content-block -->
    </div>
</div><!-- END #section-5 -->
