<div id="section-0">
    <wedding-header subline="welcome"></wedding-header>
    <img src="images/hero-unit.jpg" alt="Placeholder" class="hero-unit fade-in" />
    <div class="row divider date-section">
        <div class="large-6 small-12 columns">
            <div class="date-container col-1">
                <span class="day-date">Friday, September 9</span>
                <span class="day-year accent">2016</span>
            </div>
        </div>
        <div class="large-6 small-12 columns">
            <div class="date-container col-2">
                <span class="day-time">Five O’Clock in the evening</span>
                <span class="day-location accent">Sheraton Towers</span>
                <span class="day-address">123 Las Ramblas, Barcelona</span>
                <span class="day-meta">dinner + dancing to follow</span>
            </div>
        </div>
    </div><!-- END .row -->
</div><!-- END #section-0 -->

<div class="callout">
    <a href="#section-6" class="button radius js-scroll">
        <i class="fa fa-envelope"></i> <span class="btn-label">Click here to RSVP today</span>
    </a>
</div><!-- END .callout -->
