<!DOCTYPE html>
<!--[if IE 8]>
    <html class="no-js lt-ie9" lang="en" >
<![endif]-->

<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

    <head>
        <base href="/">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Brevie Wedding - Bryan and Evie's Wedding</title>
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="stylesheets/ie8.css" />
            <script src="javascripts/vendor/custom.modernizr.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic">
        <link rel="stylesheet" href="stylesheets/normalize.min.css" />
        <link rel="stylesheet" href="stylesheets/foundation.min.css" />
        <link rel="stylesheet" href="stylesheets/flexslider.css" />
        <link rel="stylesheet" href="stylesheets/style.css" />
        <link rel="stylesheet" href="stylesheets/media-queries.css" />
        <!-- Icons Font Are Awesome -->
        <link rel="stylesheet" href="stylesheets/font-awesome.min.css" />

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="images/favicon.ico">
        <!-- Libraries -->
        <script src="javascripts/vendor/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="javascripts/foundation.min.js"></script>
        <script src="javascripts/foundation/foundation.abide.js"></script>
        <script src="javascripts/vendor/jquery.backstretch.min.js"></script>
        <script src="javascripts/vendor/jquery.scrollTo-1.4.3-min.js"></script>
        <script src="javascripts/vendor/jquery.nav.min.js"></script>
        <script src="javascripts/vendor/jquery.flexslider.js"></script>
        <script src="javascripts/custom.js"></script>

        <!-- Angular -->
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>

        <!-- Application code -->
        <script src="/app/app.js"></script>
        <script src="/app/controllers/controllers.js"></script>

        <script>
            $(document).foundation();
        </script>
    </head>
    <body ng-app="weddingApp">
        <!-- START Navigation for mobile devices -->
        <nav class="top-bar show-for-large-down nav">
            <ul class="title-area">
            <!--
                <li class="name">Navigate to...</li>
                <li class="toggle-topbar menu-icon"><a href="#" target="_self"><span></span></a></li>
            -->
            </ul>

            <section class="top-bar-section">
                <ul>
                <!--
                    <li><a href="#section-0"><i class="fa fa-arrow-up"></i></a></li>
                    <li><a href="#section-1">Our Story</a></li>
                    <li><a href="#section-2">Photos</a></li>
                    <li><a href="#section-3">Groomsmen</a></li>
                    <li><a href="#section-4">Bridesmaids</a></li>
                    <li><a href="#section-5">Gifts</a></li>
                    <li><a href="#section-6">Rsvp</a></li>
                -->
                    <li><a href="/save-the-date">Save the Date</a></li>
                </ul>
            </section>
        </nav><!-- END Navigation for mobile devices -->

        <div class="row collapse">
            <aside class="large-3 columns hide-for-medium-down">
                <div class="side-nav-container nav">
                    <div class="shadow"></div>
                    <h1 class="logo">
                        <a href="/">
                            <img class="logo" src="images/wedding_monogram.png">
                        </a>
                    </h1>
                    <nav class="hide-for-large-down">
                        <ul class="side-nav primary-nav">
                            <li><a href="#our-story">Our Story</a></li>
                            <li><a href="#photos">Photos</a></li>
                            <li><a href="#groomsmen">Groomsmen</a></li>
                            <li><a href="#bridesmaids">Bridesmaids</a></li>
                            <li><a href="#gifts">Gifts</a></li>
                            <li><a href="#rsvp">Rsvp</a></li>
                            <li><a href="/save-the-date">Save the Date</a></li>
                        </ul>
                    </nav>
                    <span class="ribbon"></span>
                </div><!-- END .nav-container .shadow -->
            </aside>

            <div id="main" class="large-9 columns">
                <ng-view></ng-view>
            </div><!--END main-->
        </div><!--END .row-->
    </body>
</html>
