<footer class="section-odd">
    <p class="copyright small-12 large-6 columns">
        © 2013 <a href="http://demo.themechills.com/eternity">Eternity </a> / Buy it on
        <a href="http://themeforest.net/user/nimbleo/portfolio?ref=nimbleo">ThemeForest</a>
    </p>
    <p class="credit small-12 large-6 columns">
        <a href="http://demo.themechills.com/eternity">Eternity</a> powered by
        <a href="http://themechills.com/">ThemeChills.com</a>
    </p>
</footer><!--END footer-->
