<div id="section-4">
    <div class="row">
        <div class="section-title-container">
            <h2 class="section-title">Bridesmaids</h2>
            <span class="hearts"></span>
        </div>
        <div class="small-11 small-centered large-8 large-centered columns">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="images/bridesmaid-1.jpg" alt="Placeholder" />
                        <p class="flex-caption">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                    </li>
                    <li>
                        <img src="images/bridesmaid-2.jpg" alt="Placeholder" />
                        <p class="flex-caption">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                    </li>
                    <li>
                        <img src="images/bridesmaid-3.jpg" alt="Placeholder" />
                        <p class="flex-caption">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                    </li>
                </ul>
            </div><!-- END .flexslider -->
        </div><!-- END .small-11 -->
    </div><!-- END .row -->
</div><!-- END #section-4 -->
