<div id="ceremony" class="section-odd" ng-controller="CeremonyController">
    <div class="row">
        <div class="section-title-container">
            <h2 class="section-title">Ceremony</h2>
            <span class="hearts"></span>
        </div>
        <div class="date-container col-2 text-center" style="padding: 0 3em">
            <span class="day-time">Four O’Clock in the afternoon</span>
            <span class="day-location accent">Ash Cave</span>
        </div>
        <div class="small-11 small-centered large-8 large-centered columns">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="images/hi-res/ceremony-2-compressed.jpeg" alt="Placeholder" />
                        <p class="subline">
                            Due to park restrictions, only a small number of guests could be invited to the ceremony.  Please refer to your mailed invitation to see when we will be expecting you to join us.
                        </p>
                        <p class="flex-caption">
                            <span>
                                Guests attending the ceremony, please be advised that due to the wedding permit, our 4 p.m. start time is not flexible.  We request that you give yourself extra time to arrive and be seated.  Unfortunately, cell phone signal (including GPS) is essentially non-existant at the site.  We recommend that you print a copy of the directions <a href="https://goo.gl/maps/d9LmPS6vbVJ2" target="_self">here</a> to bring with you.
                            </span>
                            <span>
                                After the ceremony, there will be a shuttle transporting guests from Ash Cave to the reception due to the limited parking available at the reception site.
                            </span>
                            <span>
                                <strong>A Note on Attire:</strong>&nbsp;&nbsp;
                                The ceremony site is a quarter mile walk from the parking lot.  The path to Ash Cave is paved, however, the cave is completely covered in sand.  We recommend that you wear comfortable shoes that you don't mind getting sandy.
                            </span>
                        </p>
                    </li>
                </ul>
            </div><!-- END .flexslider -->
        </div><!-- END .small-11 -->
    </div><!-- END .row -->
</div><!-- END #ceremony -->
