<div id="gifts" ng-controller="GiftsController">
    <div class="section-title-container">
        <h2 class="section-title">Gifts</h2>
        <span class="hearts"></span>
    </div>
    <div class="small-12 large-6 large-centered columns wrapper">
        <ul class="small-block-grid-1 large-block-grid-2 block-grid">
            <li>
                <a href="https://www.amazon.com/wedding/evelyn-mcmahon-bryan-dodd-columbus-september-2016/registry/XOP2Q1UZMGHT" class="block-logo">
                    <img src="images/amazon.png" alt="Logo" />
                </a>
            </li>
            <li>
                <a href="http://www.target.com/gift-registry/registry/oBJXNulbcQR4LFpPfUe5Bw?lnk=copiedLink" class="block-logo">
                    <img src="images/target.jpg" alt="Logo" />
                </a>
            </li>
        </ul>
        <p class="content-block">
            What we want most for our wedding is to have all of our loved ones together. More than anything, we consider your presence to be our gift. That said, if you would like to get us something tangible, we are registered at Target and Amazon.
        </p><!-- END .content-block -->
    </div>
</div><!-- END #gifts -->
