<wedding-header></wedding-header>
<div id="home">
    <img src="images/hi-res/main-compressed.jpg" alt="Placeholder" class="hero-unit fade-in" />
    <div class="row divider date-section">
        <div class="large-6 small-12 columns">
            <div class="date-container col-1">
                <span class="day-date">Friday, September 9</span>
                <span class="day-year accent">2016</span>
            </div>
        </div>
        <div class="large-6 small-12 columns">
            <div class="date-container col-2">
                <span class="day-time">Six O’Clock in the evening</span>
                <span class="day-location accent">The Western Lodge</span>
                <span class="day-address">16736 Rocky Fork Road, Logan</span>
                <span class="day-meta">dinner + drinks + dancing</span>
            </div>
        </div>
    </div><!-- END .row -->
</div><!-- END #section-0 -->

<div class="callout">
    <a href="#rsvp" class="button radius js-scroll">
        <i class="fa fa-envelope"></i> <span class="btn-label">Click here to RSVP today</span>
    </a>
</div><!-- END .callout -->
<ng-include src="'app/templates/partials/ourStory.hbs'"></ng-include>
<ng-include src="'app/templates/partials/photos.hbs'"></ng-include>
<ng-include src="'app/templates/partials/groomsmen.hbs'"></ng-include>
<ng-include src="'app/templates/partials/bridesmaids.hbs'"></ng-include>
<ng-include src="'app/templates/partials/gifts.hbs'"></ng-include>
<ng-include src="'app/templates/partials/rsvp.hbs'"></ng-include>
