<div id="our-story" class="section-odd row" ng-controller="OurStoryController">
    <div class="section-title-container">
        <h2 class="section-title">Our Story</h2>
        <span class="hearts"></span>
    </div>
    <div class="small-12 large-10 large-centered columns">
        <div class="row">
            <div class="small-12 large-6 columns section-bride">
                <img src="images/groom.jpg" alt="Bride"/>
                <blockquote class="caption-1">
                    <p>
                        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                    </p>
                    <p>
                        I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
                    </p>
                    <strong class="right">- Kevin's Story</strong>
                </blockquote>
            </div>
            <div class="small-12 large-6 columns section-groom">
                <img src="images/bride.jpg" alt="Groom" />
                <blockquote class="caption-2">
                    <p>
                        When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath.
                    </p>
                    <p>
                        I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me:
                    </p>
                    <strong class="right">- Cecelia's Story</strong>
                </blockquote>
            </div>
        </div><!-- END .row -->
    </div><!-- END .small-12  -->
</div><!-- END #section-1 -->
