<div id="photos" class="row" ng-controller="PhotosController">
    <div class="section-title-container">
        <h2 class="section-title">Photos</h2>
        <span class="hearts"></span>
    </div>
    <div class="small-12 columns">
        <ul class="clearing-thumbs" data-clearing>
            <li>
                <a href="images/hi-res/BryanEvierecolor-2-compressed.jpg" target="_self">
                    <img src="images/hi-res/BryanEvierecolor-2-compressed.jpg" alt="Engagement" />
                    <span class="overlay-label">Engagement</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-14-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-14-compressed.jpg" alt="The Dress" />
                    <span class="overlay-label">The Dress</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-21-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-21-compressed.jpg" alt="Cutting the Cake" />
                    <span class="overlay-label">Cutting the Cake</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-19-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-19-compressed.jpg" alt="Beach Kiss" />
                    <span class="overlay-label">Beach Kiss</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-11-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-11-compressed.jpg" alt="The Ceremony" />
                    <span class="overlay-label">The Ceremony</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-23-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-23-compressed.jpg" alt="Our Reception" />
                    <span class="overlay-label">Our Reception</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-9-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-9-compressed.jpg" alt="Bouquet" />
                    <span class="overlay-label">Bouquet</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-12-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-12-thumbnail-compressed.jpg" alt="Memories" />
                    <span class="overlay-label">Memories</span>
                </a>
            </li>
        </ul>
    </div>
</div><!-- END #photos -->

<script>
    $(document).foundation();
    $('#photos a[href]').prop('target', '_self');
</script>
