<div id="photos" class="row" ng-controller="PhotosController">
    <div class="section-title-container">
        <h2 class="section-title">Photos</h2>
        <span class="hearts"></span>
    </div>
    <div class="small-12 columns">
        <ul class="clearing-thumbs" data-clearing>
            <li>
                <a href="images/photo-1.jpg">
                    <img src="images/photo-1.jpg" alt="Engagement" />
                    <span class="overlay-label">Engagement</span>
                </a>
            </li>
            <li>
                <a href="images/photo-2.jpg">
                    <img src="images/photo-2.jpg" alt="The Dress" />
                    <span class="overlay-label">The Dress</span>
                </a>
            </li>
            <li>
                <a href="images/photo-3.jpg">
                    <img src="images/photo-3.jpg" alt="The Ceremony" />
                    <span class="overlay-label">The Ceremony</span>
                </a>
            </li>
            <li>
                <a href="images/photo-4-panoramic.jpg">
                    <img src="images/photo-4.jpg" alt="Our Reception" />
                    <span class="overlay-label">Our Reception</span>
                </a>
            </li>
            <li>
                <a href="images/photo-5.jpg">
                    <img src="images/photo-5.jpg" alt="Cutting the Cake" />
                    <span class="overlay-label">Cutting the Cake</span>
                </a>
            </li>
            <li>
                <a href="images/photo-6.jpg">
                    <img src="images/photo-6.jpg" alt="Bouquet" />
                    <span class="overlay-label">Bouquet</span>
                </a>
            </li>
            <li>
                <a href="images/photo-7.jpg">
                    <img src="images/photo-7.jpg" alt="Beach Kiss" />
                    <span class="overlay-label">Beach Kiss</span>
                </a>
            </li>
            <li>
                <a href="images/photo-8.jpg">
                    <img src="images/photo-8.jpg" alt="Memories" />
                    <span class="overlay-label">Memories</span>
                </a>
            </li>
        </ul>
    </div>
</div><!-- END #photos -->
