<div id="photos" class="row section-odd" ng-controller="PhotosController">
    <div class="section-title-container">
        <h2 class="section-title">Photos</h2>
        <span class="hearts"></span>
    </div>
    <div class="small-12 columns">
        <ul class="clearing-thumbs" data-clearing>
            <li>
                <a href="images/hi-res/BryanEvierecolor-2-compressed.jpg" target="_self">
                    <img src="images/hi-res/BryanEvierecolor-2-compressed.jpg" alt="Engagement" />
                    <span class="overlay-label">I owe you every day I wake</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-14-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-14-compressed.jpg" alt="The Dress" />
                    <span class="overlay-label">If I can choose, it's only you</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-21-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-21-compressed.jpg" alt="Cutting the Cake" />
                    <span class="overlay-label">You're just jealous cause we're young and in love</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-19-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-19-compressed.jpg" alt="Beach Kiss" />
                    <span class="overlay-label">I'll be forever greatful to this and you</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-11-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-11-compressed.jpg" alt="The Ceremony" />
                    <span class="overlay-label">You are the smell before rain</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-23-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-23-compressed.jpg" alt="Our Reception" />
                    <span class="overlay-label">You are the blood in my veins</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-9-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-9-compressed.jpg" alt="Bouquet" />
                    <span class="overlay-label">I waste all my time just thinkin' of you</span>
                </a>
            </li>
            <li>
                <a href="images/hi-res/BryanEvierecolor-12-compressed.jpg">
                    <img src="images/hi-res/BryanEvierecolor-12-thumbnail-compressed.jpg" alt="Memories" />
                    <span class="overlay-label">Did you ever think that you would be this blessed</span>
                </a>
            </li>
        </ul>
    </div>
</div><!-- END #photos -->

<script>
    $(document).foundation();
    $('#photos a[href]').prop('target', '_self');
</script>
