<div id="reception" class="section-odd" ng-controller="ReceptionController">
    <div class="row">
        <div class="section-title-container">
            <h2 class="section-title">Reception</h2>
            <span class="hearts"></span>
        </div>
        <div class="date-container col-2 text-center" style="padding: 0 3em">
            <span class="day-time">Six O’Clock in the evening</span>
            <span class="day-location accent">The Western Lodge</span>
            <span class="day-meta" style="margin-top:0px;font-size:2.0em">Following a cocktail hour</span>
        </div>
        <div class="small-11 small-centered large-8 large-centered columns">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="images/hi-res/reception-1-compressed.png" alt="Placeholder" />
                        <p class="flex-caption">
                            <span>
                                Please note that the reception will be outdoors and primarily in grass.  At the end of the night, a shuttle will take guests back to their cars.  Guests who would like to stay at the lodge overnight are welcome, however couch space is limited.
                            </span>
                        </p>
                    </li>
                </ul>
            </div><!-- END .flexslider -->
        </div><!-- END .small-11 -->
    </div><!-- END .row -->
</div><!-- END #reception -->
