<div id="rsvp" class="js-form" ng-controller="RsvpController">
    <div class="section-title-container">
        <h2 class="section-title">Rsvp</h2>
        <span class="hearts"></span>
    </div>
    <div class="small-12 large-10 large-centered columns">
        <form data-abide class="rsvp-form custom" id="js-form" ng-submit="submit()" ng-hide="formState.complete">
            <fieldset class="rsvp-details">
                <!-- Displays a global alert if required fields are missing -->
                <div class="js-display"></div>
                <legend>
                    Kindly respond by <strong>March 14, 2014</strong>. We look forward to celebrating with you!
                </legend>
                <div class="row">
                    <div class="large-6 columns">
                        <label for="firstname">First Name</label>
                        <input type="text" class="input-field" id="firstname" name="firstname" placeholder="Your first name is required" required ng-model="formData.firstName">
                        <small class="error">First Name is required.</small>
                    </div>
                    <div class="large-6 columns">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="input-field" id="lastname" name="lastname" placeholder="Your last name is required" required ng-model="formData.lastName">
                        <small class="error">Last Name is required.</small>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label for="email">Email</label>
                        <input type="email" class="input-field" id="email" name="email" placeholder="name@yourdomain.com" required ng-model="formData.email">
                        <small class="error">Valid Email is required.</small>
                    </div>
                    <div class="large-6 columns">
                        <label for="phone">Phone</label>
                        <input type="tel" class="input-field" id="phone" name="phone" placeholder="A phone number is optional" ng-model="formData.phone">
                    </div>
                </div>
            </fieldset>
            <fieldset class="rsvp-attendance">
                <legend>Will you be attending?</legend>
                <div class="large-6 columns">
                    <label for="radio1">
                        <input name="radio" type="radio" id="radio1" style="display:none;" value="true" ng-model="rsvp">
                        <span class="custom radio accept" ng-click="isAttending(true)"></span>
                        <span class="radio-label">Accepts with Pleasure!</span>
                    </label>
                </div>
                <div class="large-6 columns">
                    <label for="radio2">
                        <input name="radio" type="radio" id="radio2" style="display:none;" value="false" ng-model="rsvp">
                        <span class="custom radio decline" ng-click="isAttending(false)"></span>
                        <span class="radio-label">Declines with Regret.</span>
                    </label>
                </div>
            </fieldset>
            <!-- <fieldset class="rsvp-meal-choice">
                <legend>
                    Please select your meal choices
                </legend>
                <div class="row">
                    <div class="large-6 columns">
                        <label for="main-course">Main</label>
                        <select id="main-course" name="main-course">
                            <option selected>None</option>
                            <option>Chicken</option>
                            <option>Beef</option>
                            <option>Vegetarian</option>
                        </select>
                    </div>
                </div>
                <div class="large-6 columns">
                    <label for="dessert">Dessert</label>
                    <select id="dessert" name="dessert">
                        <option selected>None</option>
                        <option>Chocolate Cake</option>
                        <option>Lemon Cheesecake</option>
                        <option>Key Lime Pie</option>
                    </select>
                </div>
            </fieldset> -->
            <div class="error" ng-hide='formState.valid'>{{formState.message}}</div>
            <button type="submit" class="button radius" ng-click="sendRsvp()">
                <i class="fa fa-envelope"></i>
                <span class="btn-label">Send</span>
            </button>
        </form>
        <div ng-show="formState.complete">
            <h1>Thank you</h1>
            <h3>Your response has been received</h3>
        </div>
        <p>
            For any questions please email us:
            <a href="mailto:info@yourdomain.com" title="E-mail Us">
                info@yourdomain.com
            </a>
        </p>
    </div><!-- END .large-10 -->
    <div id="map-canvas" style="width:100%; height:500px;"></div>
</div><!-- END #rsvp -->
